.ProductBg {
  background-size: 264px 248px;
  background-repeat: no-repeat;
  background-position: center;
}

.ProductBgBeans {
  background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
}

.ProductBgWheat {
  background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
}

.ProductBgVegetables {
  background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
}

.ProductBgCorn {
  background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
}

.ProductBgSeaweed {
  background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .ProductBgBeans {
    background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@2x.webp');
  }

  .ProductBgWheat {
    background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
  }

  .ProductBgVegetables {
    background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
  }

  .ProductBgCorn {
    background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
  }

  .ProductBgSeaweed {
    background-image: url('/images/bg/productCard/bg_sprouted_grains_of_beans@1x.webp');
  }
}

@media screen and (min-width: 768px) {
  .ProductBg {
    background-size: 328px 308px;
  }
}
@media screen and (min-width: 1280px) {
  .ProductBg {
    background-size: 381px 358px;
  }
}
