.errorIcon::after {
  content: url('/icons/Error.svg');
  position: absolute;
  top: 19px;
  width: 24px;
  height: 24px;
  right: 24px;
}

.error,
.error:hover,
.error:focus {
  border-color: #ff0000;
}
