.container {
    padding: 60px 0;
    background-image: url('/images/bg/bg_green@1x.webp');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size:
        cover;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 80px 0 82px;

    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 120px 0;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .container {
        background-image: url('/images/bg/bg_green@2x.webp');
    }

}