.burger {
  background-image: url(/images/bg/hero/bg_yellow_m@1x.webp),
    linear-gradient(to right, #f1fae1, #f1fae1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(/images/bg/hero/bg_yellow_m@2x.webp),
        linear-gradient(to right, #f1fae1, #f1fae1);
    }
  }
}
